<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Filepond Style Sheets -->
        <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
        <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    
        <!-- File encode -->
        <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
        <!-- Image Preview -->
        <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
        <!-- Image Resizing -->
        <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    
        <!-- Filepond CDN | defer: that way they get loaded and ran after the entire body of our page is done rendering -->
        <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
        <!--  -->
        <script defer src="/javascripts/fileUploads.js"></script>
    <title>Library</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %> 
    <%- body %> 
</body>
</html>